Source: aptosid-art-nemesis
Section: graphics
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Rick Battle <rick.battle@celtrenicdesigns.com>
Build-Depends: debhelper (>= 9.20120115),
 inkscape,
 perl,
 perlmagick,
 libxml-parser-perl,
 fonts-dustin
Standards-Version: 3.9.4
Vcs-Svn: svn://svn.berlios.de/fullstory/aptosid-art-nemesis/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/aptosid-art-nemesis/trunk/

Package: aptosid-art-kde-nemesis
Architecture: all
Provides: aptosid-art-kde-theme
Depends: ${misc:Depends},
 aptosid-art-ksplash-nemesis,
 aptosid-art-kdm-nemesis
Recommends: aptosid-art-wallpaper-nemesis,
 dmz-cursor-theme
Description: KDE theme for the aptosid 2013-02 release
 release specific metapackage depending on ksplash, kdm and KDE themes to be
 used in combination with the K Desktop Environment. This package also
 provides a release specific color scheme for KDE.
 .
 KDE artwork metapackage for: aptosid 2013-02 (Νέμεσις)

Package: aptosid-art-kdm-nemesis
Architecture: all
Depends: ${misc:Depends},
 kdm
Description: KDM theme for the aptosid 2013-02 release
 release specific artwork theme for the KDM display manager to be used in
 combination with the K Desktop Environment.
 .
 KDM artwork for: aptosid 2013-02 (Νέμεσις)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-ksplash-nemesis
Architecture: all
Depends: ${misc:Depends},
 kde-workspace-bin
Description: KDE ksplash theme for the aptosid 2013-02 release
 release specific KDE ksplash theme, using the default ksplash engine.
 .
 KDE ksplash artwork for: aptosid 2013-02 (Νέμεσις)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-wallpaper-nemesis
Architecture: all
Provides: aptosid-art-wallpaper-theme
Depends: ${misc:Depends}
Description: aptosid wallpaper for the 2013-02 release
 release specific wallpapers, compatible with the K Desktop Environment, Xfce,
 LXDE and GNOME.
 .
 Wallpapers for: aptosid 2013-02 (Νέμεσις)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

Package: aptosid-art-xfce-nemesis
Architecture: all
Provides: aptosid-art-xfce-theme
Depends: ${misc:Depends},
 aptosid-art-xsplash-nemesis
Recommends: aptosid-art-wallpaper-nemesis,
 dmz-cursor-theme
Description: Xfce theme for the aptosid 2013-02 release
 release specific metapackage depending on xfce4-session and Xfce themes
 to be used in combination with the Xfce desktop environment.
 .
 Xfce artwork metapackage for: aptosid 2013-02 (Νέμεσις)

Package: aptosid-art-xsplash-nemesis
Architecture: all
Depends: ${misc:Depends},
 xfce4-session
Description: Xfce splash theme for the aptosid 2013-02 release
 release specific Xfce splash theme, based on the balou theme engine.
 .
 Xfce xsplash artwork for: aptosid 2013-02 (Νέμεσις)
 .
 This package does not override existing theme configurations and needs to be
 selected manually.

